.productsBlock9img1{
    width: 100%;
}
.productsBlock9p1{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 22%;
    font-size: 65px;
    margin-left: 9%;
}
.productsBlock9p2{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 28%;
    font-size: 18px;
    margin-left: 9%;
}
.productsBlock9div1{
    position: relative;
    margin-top: 7%;
}
