.productsBlock4strelki{
    display: flex;
    margin-top: 15%;
    margin-bottom: 3%;
}
.productsBlock4strelkaleft{
    width: 15px;
    height: 27px;
    margin-top: 0.17%;
    margin-left: 83%;
}
.productsBlock4strelkaright{
    width: 15px;
    height: 27px;
    margin-top: 0.17%;
    margin-left: 1.8%;
}

.productsBlock4p1{
    font-size: 30px;
}
.productsBlock4all1{
    margin-left: 7%;
}
.productsBlock4photo1img{
    width: 540px;
    height: 510.8px;
    position: absolute;
    border-radius: 10px;
    border: none;
}
.productsBlock4photo1all{
    position: relative;
    top: 0;
}
.productsBlock4photo1div1{
    display: flex;
    height: 90px;
}
.productsBlock4photo1div2{
    display: flex;
}
.productsBlock4photo1div3{
    display: flex;
    margin-top: 6%;
}
.productsBlock4photo1div1p1{
    font-size: 36px;
    margin-left: 5%;
    margin-top: 6%;
}
.productsBlock4photo1div1p2{
    font-size: 20px;
    margin-top: 7%;
    margin-left: 41%;
}
.productsBlock4photo1img2{
    width: 480px;
    height: 270px;
    border-radius: 10px;
    border: none;
    margin-left: 6.5%;
}
.productsBlock4photo1div2p1{
    margin-left: 5%;
    font-size: 20px;
    text-decoration: underline;
}
.productsBlock4photo1div2p2{
    margin-left: 8%;
    font-size: 20px;
    color: #9c9c9c;
}
.productsBlock4photo1div3button1{
    border-radius: 20px;
    border: none;
    background-color: white;
    width: 27%;
    margin-left: 5%;
    height: 45px;
    font-size: 17px;
}
.productsBlock4photo1div3p1{
    font-size: 17px;
    text-decoration: underline;
    margin-left: 5%;
    width: 27%;
    margin-top: 2.8%;
}

/* ФОто2 */
.productsBlock4all2{
    margin-left: 7%;
}
.productsBlock4photo2img{
    width: 540px;
    height: 510.8px;
    position: absolute;
    border-radius: 10px;
    border: none;
}
.productsBlock4photo2all{
    position: relative;
    top: 0;
}
.productsBlock4photo2div1{
    display: flex;
    height: 90px;
}
.productsBlock4photo2div2{
    display: flex;
}
.productsBlock4photo2div3{
    display: flex;
    margin-top: 6%;
}
.productsBlock4photo2div1p1{
    font-size: 36px;
    margin-left: 5%;
    margin-top: 6%;
    width: 50%;
}
.productsBlock4photo2div1p2{
    font-size: 20px;
    margin-top: 7%;
    margin-left: 25%;
    width: 20%;
}
.productsBlock4photo2img2{
    width: 480px;
    height: 270px;
    border-radius: 10px;
    border: none;
    margin-left: 6.5%;
}
.productsBlock4photo2div2p1{
    margin-left: 5%;
    font-size: 20px;
}
.productsBlock4photo2div3button1{
    border-radius: 20px;
    border: none;
    background-color: white;
    width: 27%;
    margin-left: 5%;
    height: 45px;
    font-size: 17px;
}
.productsBlock4photo2div3p1{
    font-size: 17px;
    text-decoration: underline;
    margin-left: 5%;
    width: 27%;
    margin-top: 2.8%;
}

/* Блок3 */
.productsBlock4p1q{
    font-size: 30px;
}
.productsBlock4all1q{
    margin-left: 2.5%;
}
.productsBlock4photo1imgq{
    width: 540px;
    height: 510.8px;
    position: absolute;
    border-radius: 10px;
    border: none;
}
.productsBlock4photo1allq{
    position: relative;
    top: 0;
}
.productsBlock4photo1div1q{
    display: flex;
    height: 90px;
}
.productsBlock4photo1div2q{
    display: flex;
}
.productsBlock4photo1div3q{
    display: flex;
    margin-top: 6%;
}
.productsBlock4photo1div1p1q{
    font-size: 36px;
    margin-left: 5%;
    margin-top: 6%;
}
.productsBlock4photo1div1p2q{
    font-size: 20px;
    margin-top: 7%;
    margin-left: 26%;
}
.productsBlock4photo1img2q{
    width: 480px;
    height: 270px;
    border-radius: 10px;
    border: none;
    margin-left: 6.5%;
}
.productsBlock4photo1div2p1q{
    margin-left: 5%;
    font-size: 20px;
    text-decoration: underline;
}
.productsBlock4photo1div2p2q{
    margin-left: 8%;
    font-size: 20px;
    color: #9c9c9c;
}
.productsBlock4photo1div3button1q{
    border-radius: 20px;
    border: none;
    background-color: white;
    width: 27%;
    margin-left: 5%;
    height: 45px;
    font-size: 17px;
}
.productsBlock4photo1div3p1q{
    font-size: 17px;
    text-decoration: underline;
    margin-left: 5%;
    width: 27%;
    margin-top: 2.8%;
}


.productsBlock4Big{
    display: flex;
}


