.aboutBlock6{
    margin-top: 7%;
}
.aboutBlock6img1{
    position: relative;
    width: 100%;
}
.aboutBlock6div1p1{
    position: absolute;
    top: 0;
    margin-top: 227%;
    font-size: 60px;
    color: white;
    margin-left: 70%;
    
}
.aboutBlock6div1p2{
    position: absolute;
    top: 0;
    margin-top: 232%;
    font-size: 20px;
    color: white;
    margin-left: 70%;
}