.aboutBlock3{
    display: flex;
    margin-top: 5%;
}
.aboutBlock3img1{
    width: 635.29px;
    height: 635.28px;
    margin-left: 12%;
}
.aboutBlock3div1{
    margin-top: 12%;
    margin-left: 10%;
}
.aboutBlock3div1p1{
    font-size: 60px;
    margin-bottom: 5%;
}
.aboutBlock3div1p2{
    font-size: 20px;
}