.singleBlock11{
    display: flex;
}
.singleBlock11img1{
    margin-left: 12%;
    width: 635.29px;
    height: 635.28px;
    margin-top: 6%;
}
.singleBlock11div1{
    margin-top: 12%;
    margin-left: 10%;
}
.singleBlock11div1p1{
    font-size: 70px;
}
.singleBlock11div1p2{
    font-size: 20px;
}
.singleBlock11div1p3{
    font-size: 20px;
}