.singleBlock9{
    display: flex;
}
.singleBlock9div1{
    margin-top: 14%;
    margin-left: 15%;
}
.singleBlock9div1p1{
    font-size: 70px
}
.singleBlock9div1p2{
    font-size: 20px;
    color: #bdbdbd;
}
.singleBlock9img1{
    margin-left: 10%;
}