.singleBlock14{
    margin-top: 50%;
    border-top: 2px solid #bdbdbd;
    width: 100%;
}
.singleBlock14p1{
    font-size: 70px;
    margin-top: 6%;
}
.singleBlock14div1{
    display: flex;
    margin-left: 3%;
}
.singleBlock14div1p1{
    font-size: 50px;
}
.singleBlock14div1p2{
    font-size: 50px;
    margin-left: 24%;
}
.singleBlock14div1p3{
    font-size: 50px;
    margin-left: 24%;
}
.singleBlock14div2{
    display: flex;
}
.singleBlock14div2div1{
    margin-left: 5%;
}

.singleBlock14div2div1div1p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div1div1p2{
    font-size: 25px;
    color: #757575;
}

.singleBlock14div2div1div2p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div1div2p2{
    font-size: 25px;
    color: #757575;
}

.singleBlock14div2div1div3p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div1div3p2{
    font-size: 25px;
    color: #757575;
}

.singleBlock14div2div1div4p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div1div4p2{
    font-size: 25px;
    color: #757575;
}

.singleBlock14div2div1p1{
    font-size: 25px;
    color: #757575;
    margin-top: 15%;
}
.singleBlock14div2div2{
    margin-left: 4%;
}

.singleBlock14div2div2div1p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div1p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div2p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div2p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div3p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div3p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div4p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div4p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div5p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div5p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div6p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div6p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div7p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div7p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div8p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div8p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div2div9p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div2div9p2{
    font-size: 25px;
    color: #757575;
}

.singleBlock14div2div3{
    margin-left: 7%;
}
.singleBlock14div2div3div1p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div3div1p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div3div2p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div3div2p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div3div3p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div3div3p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div3div4p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div3div4p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div2div3div5p1{
    font-size: 25px;
    margin-bottom: 0;
}
.singleBlock14div2div3div5p2{
    font-size: 25px;
    color: #757575;
}
.singleBlock14div3{
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    width: 18%;
    height: 60px;
}
.singleBlock14div3img1{
    width: 14.66px;
    height: 15.13px;
    margin-top: 6%;
    margin-left: 12%;
}
.singleBlock14div3p1{
    font-weight: 600;
    margin-top: 6%;
    margin-left: 2%;
}