.singleBlock5{
    display: flex;
}
.singleBlock5img1{
    margin-left: 13.05%;
}
.singleBlock5div1{
    margin-top: 11%;
    margin-left: 10%;
}
.singleBlock5div1p1{
    font-size: 70px;
    margin-bottom: 9%;
}
.singleBlock5div1p2{
    font-size: 20px;
    color: #bdbdbd;
}
