.singleBlock7{
    display: flex;
}
.singleBlock7div1{
    margin-top: 14%;
    margin-left: 15%;
}
.singleBlock7div1p1{
    font-size: 70px
}
.singleBlock7div1p2{
    font-size: 20px;
    color: #bdbdbd;
}
.singleBlock7img1{
    margin-left: 10%;
}