.singleBlock2img1{
    width: 100%;
    height: 50px;
}
.singleBlock2all{
    display: flex;
}
.singleBlock2div1img1{
    width: 847.05px;
    height: 800.8px;
    position: relative;
}
.singleBlock2div1div1{
    position: absolute;
    top: 0;
    margin-top: 14%;
    margin-left: 1%;
}
.singleBlock2div1div1img1{
    width: 13.75px;
    height: 25px;
    margin-bottom: 33%;

}
.singleBlock2div1div1img2{
    width: 781px;
    height: 480px;
}
.singleBlock2div1div1img3{
    width: 13.75px;
    height: 25px;
    margin-bottom: 33%;
}
.singleBlock2div1div2{
    position: absolute;
    top: 0;
    margin-top: 41.5%;
    margin-left: 20%;
    justify-content: space-between ;
}
.singleBlock2div1div2img2{
    margin-left: 7px;
}
.singleBlock2div1div2img3{
    margin-left: 7px;
}
.singleBlock2div3{
    display: flex;
    margin-top: 7%;
    width: 1000px;
}
.singleBlock2div3p1{
    font-size: 33px;
    margin-left: 10%;
}
.singleBlock2div3p2{
    font-size: 15px;
}
.singleBlock2div3p3{
    font-size: 42px;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 0;
}
.singleBlock2div3p4{
    font-size: 35px;
    margin-left: 48%;
}
.singleBlock2div4{
    display: flex;
    margin-left: 10%;
}
.singleBlock2div4img1{
    width: 96px;
    height: 66px;
    border-radius: 8px;
    margin-top: 0.2%;
}
.singleBlock2div4img2{
    width: 96px;
    height: 66px;
    border: 4px solid black;
    border-radius: 8px;
    margin-left: 10.7%;
}
.singleBlock2div5{
    display: flex;
    margin-left: 9%;
    margin-top: 1.7%;
}
.singleBlock2div5p1{
    font-size: 20px;
}
.singleBlock2div5p2{
    font-size: 10px;
}
.singleBlock2div5p3{
    font-size: 20px;
    margin-left: 8%;
}
.singleBlock2div5p4{
    font-size: 10px;
}
.singleBlock2div6{
    margin-left: 9%;
    width: 90%;
    height: 110px;
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
}
.singleBlock2p1{
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 3%;
}
.singleBlock2div7img1{
    width: 31px;
    height: 31px;
}
.singleBlock2div7img2{
    width: 31px;
    height: 31px;
    margin-left: 2%;
}
.singleBlock2div7img3{
    width: 31px;
    height: 31px;
    margin-left: 2%;
}
.singleBlock2div7img4{
    width: 31px;
    height: 31px;
    margin-left: 2%;
}   
.singleBlock2div7{
    display: flex;
}
.singleBlock2div8{
    display: flex;
    margin-left: 9%;
    margin-top: 2.7%;
}
.singleBlock2div8p1{
    font-size: 15px;
    margin-bottom: 1%;
    font-weight: bold;
}
.singleBlock2div8img1{
    width: 42.94px;
    height: 9px;
    margin-top: 0.5%;
}
.singleBlock2div8div1{
    border-bottom: 2px solid black;
}
.singleBlock2endp1{
    font-size: 15px;
    color: #838383;
    margin-top: 3%;
    margin-left: 9%;
}
.singleBlock2endselect1{
    border-radius: 40px;
    height: 4.5%;
    width: 20%;
    padding-left: 2.7%;
    border: none;
    background-color: #e5e5e5;
    margin-left: 8.5%;
    margin-top: 2%;
}
.singleBlock2endbutton1{
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;
    width: 80%;
    height: 6%;
    margin-left: 8.5%;
    margin-top: 3%;
    font-size: 15px;
}
.singleBlock2endp2div{
    height: 10%;
    border-top: 2px solid #eaeaea;
    margin-left: 9%;
    margin-top: 2%;
}
.singleBlock2endp2{
    font-size: 20px;
    padding-top: 4%;
}
.singleBlock2endp3{
    font-size: 18px;
    margin-left: 9%;
}